@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-NavColor;
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype'),
       url('./fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
